{% set rancherk8s_api_join_host = rancherk8s_api_endpoint if rancherk8s_api_endpoint else hostvars[groups['server_primary'][0]]['ansible_default_ipv4']['address'] %}
{% if 'server_primary' not in group_names %}

{% if rancherk8s_type == 'rke2' %}
server: https://{{ rancherk8s_api_join_host }}:9345
{% else %}
server: https://{{ rancherk8s_api_join_host }}:6443
{% endif %}
token: {{ rancherk8s_token }}
{% endif %}
{%- set rancherk8s_all_san = (rancherk8s_tls_additional_san | default([]))
    + ([rancherk8s_api_endpoint] if rancherk8s_api_endpoint else []) -%}
{% if rancherk8s_node_type == "server" %}
{% if rancherk8s_all_san | length > 0 %}
tls-san:
{% for ip in rancherk8s_all_san %}
  - {{ ip }}
{% endfor %}
{% endif %}
{% if rancherk8s_default_local_storage_path %}
default-local-storage-path: "{{ rancherk8s_default_local_storage_path }}"
{% endif %}
{% endif %}

write-kubeconfig-mode: 644
{% if rancherk8s_cni == "cilium" %}
{% if rancherk8s_type == 'rke2' %}
disable:
  - rke2-canal
  - rke2-kube-proxy
  - rke2-ingress-nginx
cni: cilium
{% else %}
flannel-backend: "none"
disable-network-policy: true
cluster-init: true
{% endif %}
disable-kube-proxy: true
{% endif %}

{% if rancherk8s_type != 'rke2' %}
{%- set rancherk8s_k3s_disable = (['servicelb', 'traefik'] if rancherk8s_cni == 'cilium' else [])
    + ([] if rancherk8s_local_storage_provisioner_enabled else ['local-storage']) -%}
{% if rancherk8s_k3s_disable | length > 0 %}
disable:
{% for item in rancherk8s_k3s_disable %}
  - {{ item }}
{% endfor %}
{% endif %}
{% endif %}

{% if rancherk8s_backup_schedule is defined %}
etcd-snapshot-schedule-cron: "{{ rancherk8s_backup_schedule }}"
etcd-snapshot-compress: true
{% endif %}
{% if rancherk8s_backup_retention is defined %}
etcd-snapshot-retention: "{{ rancherk8s_backup_retention }}"
{% endif %}
{% if rancherk8s_backup_s3_enabled %}
etcd-s3: true
etcd-s3-endpoint: "{{ rancherk8s_backup_s3_endpoint }}"
etcd-s3-bucket: "{{ rancherk8s_backup_s3_bucket }}"
etcd-s3-access-key: "{{ rancherk8s_backup_s3_access_key }}"
etcd-s3-secret-key: "{{ rancherk8s_backup_s3_secret_key }}"
{% if rancherk8s_backup_s3_region %}
etcd-s3-region: "{{ rancherk8s_backup_s3_region }}"
{% endif %}
{% if rancherk8s_backup_s3_folder %}
etcd-s3-folder: "{{ rancherk8s_backup_s3_folder }}"
{% endif %}
{% endif %}

{% if rancherk8s_type == 'rke2' %}
{% if rancherk8s_limited_resources is defined %}
control-plane-resource-requests:
{% for item in rancherk8s_limited_resources %}
  - {{ item }}
{% endfor %}
{% endif %}
{% endif %}
