{% set rancherk8s_api_join_host = rancherk8s_api_endpoint if rancherk8s_api_endpoint else hostvars[groups['server_primary'][0]]['ansible_default_ipv4']['address'] %}
{% if 'server_primary' not in group_names %}

{% if rancherk8s_type == 'rke2' %}
server: https://{{ rancherk8s_api_join_host }}:9345
{% else %}
server: https://{{ rancherk8s_api_join_host }}:6443
{% endif %}
token: {{ rancherk8s_token }}
{% endif %}
{%- set rancherk8s_all_san = (rancherk8s_tls_additional_san | default([]))
    + ([rancherk8s_api_endpoint] if rancherk8s_api_endpoint else []) -%}
{% if rancherk8s_node_type == "server" %}
{% if rancherk8s_all_san | length > 0 %}
tls-san:
{% for ip in rancherk8s_all_san %}
  - {{ ip }}
{% endfor %}
{% endif %}
{% endif %}

write-kubeconfig-mode: 644
{% if rancherk8s_cni == "cilium" %}
{% if rancherk8s_type == 'rke2' %}
disable:
  - rke2-canal
  - rke2-kube-proxy
  - rke2-ingress-nginx
cni: cilium
{% else %}
flannel-backend: "none"
disable-network-policy: true
cluster-init: true
disable:
  - servicelb
  - traefik
{% endif %}
disable-kube-proxy: true
{% endif %}

{% if rancherk8s_backup_schedule is defined %}
etcd-snapshot-schedule-cron: "{{ rancherk8s_backup_schedule }}"
etcd-snapshot-compress: true
{% endif %}
{% if rancherk8s_backup_retention is defined %}
etcd-snapshot-retention: "{{ rancherk8s_backup_retention }}"
{% endif %}

{% if rancherk8s_type == 'rke2' %}
{% if rancherk8s_limited_resources is defined %}
control-plane-resource-requests:
{% for item in rancherk8s_limited_resources %}
  - {{ item }}
{% endfor %}
{% endif %}
{% endif %}
