#!/bin/bash

export GITHUB_TOKEN={{ rancherk8s_flux_bootstrap_token }}

{% set command -%}
flux bootstrap {{ rancherk8s_flux_bootstrap_provider }} \
    --interval={{ rancherk8s_flux_interval }} \
    --owner={{ rancherk8s_flux_bootstrap_owner }} \
    --repository={{ rancherk8s_flux_bootstrap_repo }} \
    --branch={{ rancherk8s_flux_bootstrap_branch }} \
    --path={{ rancherk8s_flux_bootstrap_path }} \
    --{{ rancherk8s_flux_bootstrap_type }}
{%- endset -%}
{{ command | replace('\\\n    ', '') }}