INSTALL_{{ rancherk8s_type | upper }}_VERSION={{ rancherk8s_version }}
{{ 'INSTALL_RKE2_TYPE' if rancherk8s_type == 'rke2' else 'INSTALL_K3S_EXEC' }}={{ hostvars[rancherk8s_active_node].rancherk8s_node_type }}
{% if rancherk8s_type == 'rke2' %}
INSTALL_RKE2_METHOD=tar
{% else %}
INSTALL_K3S_SKIP_START=true
{% endif %}
