{% if 'rke2_server_primary' not in group_names %}
server: https://{{ hostvars[groups['rke2_server_primary'][0]]['ansible_default_ipv4']['address'] }}:9345
token: {{ rke2_token }}
{% endif %}
{% if rke2_node_type == "server" %}
tls-san:
{% if rke2_tls_additional_san is defined %}
{% for ip in rke2_tls_additional_san | default([]) %}
  - {{ ip }}
{% endfor %}
{% endif %}
{% endif %}

write-kubeconfig-mode: 644
{% if rke2_cni == "cilium" %}
disable:
  - rke2-canal
  - rke2-kube-proxy
  - rke2-ingress-nginx
cni: cilium
disable-kube-proxy: true
{% endif %}

{% if rke2_backup_schedule is defined %}
etcd-snapshot-schedule-cron: "{{ rke2_backup_schedule }}"
etcd-snapshot-compress: true
{% endif %}
{% if rke2_backup_retention is defined %}
etcd-snapshot-retention: "{{ rke2_backup_retention }}"
{% endif %}
